/*
1. Posicionamiento 
2. Modelo de caja(Box model)
3. Tipografia
4. Visuales
5. Otros
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --gray:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family:'DM Sans', sans-serif ;/* ? New*/
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);/* ? New*/
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self:center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
/*estilos del texto*/
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 119px);/*new*/
    top: 270px;
    display: block;
    margin-top:35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold; /*? New*/
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);

}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px; 
    background-image: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.main-exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#757575;
}

/*!estilos de la tabla*/

/*?primera tabla*/
.main-currency-table{
    width: 70%;
    min-height: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currecy-table--title{
    margin-bottom:15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-currency-table .currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table-container table{
    width: 100%;
    height: 100%;
}

.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color:var(--black);
}

.currency-table-container .table__top-left,
.commissions-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.commissions-table--container .table__top-right,
.currency-table-container .table__top-right{
    border-radius: 0 15px 0 0;
}

.commissions-table--container .table__bottom-left,
.currency-table-container .table__button-left{
    border-radius: 0 0 0 15px;
}

.commissions-table--container .table__bottom-right,
.currency-table-container .table__button-right{
    border-radius: 0 0 15px 0;
}

.currency-table-container .table__right{
    font-size: 1.4rem;
    font-weight:normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../assets/icons/trending-up.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.currency-table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date{
    margin: 15px auto;
    width: 190px;
    height: 30px;
    background-color: var(--soft-orange);
    border-radius: 10px;
    padding: 8px;

}
/*?segunda tabla*/

.main-commissions-table{
    width: 70%;
    min-height: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-commissions-table .commissions-table--title{
    font-weight: bold;
    color: var(--secondary-blue);
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 15px;
}

.main-commissions-table .commissions-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.main-commissions-table table{
    width: 100%;
    height: 100%;
}

.main-commissions-table td{
    width: 50%;
    height: auto;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight:500;
    color: var(--gray);
    background-color: var(--black);
}

.commissions-table--container .table__right{
    font-size: 1.4rem;
    font-weight:normal;
    line-height: 17px;
    color: #757575;
}

.commissions-table--date{
    width: 175px;
    height: 30px;
    padding: 8px;
    margin: 15px auto;
    background-color: var(--soft-blue);
    border-radius: 15px;
}

